<!DOCTYPE html>
html(lang="en")
head
   meta(charset="UTF-8")
   title Course Image
   style.
      body {
         font-family: sans-serif;
         background: white;
      }
body
   small= date
   h1= restaurant.name
   ul
      each course in courses
         li= course.title
