doctype html
html(lang='en')
   head
      meta(charset='UTF-8')
      meta(name="viewport" content="width=device-width, initial-scale=1")
      title Kanttiinit Menu Image
      style.
         * {
            margin: 0;
            padding: 0;
         }
         
         html, body {
            background: #eee;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 11pt;
         }
         
         header {
            background: #139180;
            color: white;
            padding: 0.5em;
         }
         
         h1 {
            font-weight: normal;
            font-size: 1.5em;
         }
         
         .date {
            color: rgba(255, 255, 255, 0.75);
         }
         
         ul {
            list-style-type: none;
         }
         
         li {
            padding: 0.3em;
         }
         
         li:nth-child(odd) {
            background: #ddd;
         }
         
         .property {
            margin: 0 0.2em;
            padding: 0.1em 0.3em;
            color: white;
            background: #555;
            border-radius: 0.2em;
            font-size: 0.7em;
            vertical-align: 0.1em;
         }
   body
      header
         h1= restaurant.name
         span.date= date
      ul
         if courses.length
            each course in courses
               li= course.title
                  each property in course.properties
                     span.property= property
         else
            span Ei ruokalistoja saatavilla.
